.do-d-footer {
    background: #464C55;
    padding: 50px 110px 36px 110px;
}

.do-d-footer__wrap {
    display: flex;
}

.do-d-footer__info {
    display: flex;
    margin: 93px 0 0 0;
}

.do-d-footer__text-info {
    margin-right: 131px;
}

.do-d-footer__title {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;
}

.do-d-footer__text-1 {
    width: 300px;
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 0.7;
}

.do-d-footer__text-2 {
    width: 241px;
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 0.7;
}

.do-d-footer__line {
    opacity: 0.2;
    border: 1px solid #FFFFFF;
    margin: 40px 0 46px 0;
}

/*.do-d-footer__bottom-info {
    display: flex;
    align-items: center;
}*/

@media (min-width: 1280px) {
    .do-m-footer__logo {
        width: 192px;
        height: 22px;
    }
    .do-m-footer__informs {
        display: flex;
    }
    .do-m-footer__copyright {
        font-family: Nunito, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        opacity: 0.7;
    }
    .do-m-footer__naming {
        margin: 0; /*----не сработало??-----<<<<<<<<*/
    }
    .do-m-footer__info {
        margin: 0; /*----не сработало??-----<<<<<<<<*/
    }
}

.do-d-footer-menu-block {
    margin: 0 30px 0 30px;
}

.do-d-footer-menu-block:first-child {
    margin: 0 30px 0 0;
}
.do-d-footer-menu-block:last-child {
    margin: 0 0 0 30px;
}