.do-d-shipping-and-payment__wrap {
    display: flex;
    justify-content: space-between;
}

.do-d-shipping-and-payment__block {
    width: 22%;
}

.do-d-shipping-and-payment__title {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #F96900;
}

.do-d-shipping-and-payment__text {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.do-d-shipping-and-payment__map {
    width: 250px;
    height: 290px;
}