.do-d-product-card {
    display: flex;
    justify-content: flex-start;
    width: 250px;
}

.do-d-product-card__img {
    width: 220px;
    height: 220px;
    margin: 0 15px 0 15px;
}

.do-d-product-card__title {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    padding: 5px 0 10px 0;
    margin: 0;
}

.do-d-product-card__text {
    width: 186px;
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #73798C;
    margin-bottom: 30px;
}

.do-d-product-card__wrap {
    display: flex;
    align-items: center;
}

.do-d-product-card__price {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    padding-right: 46px;
}

.do-d-product-card__btn {
    /*width: 120px;
    height: 40px;*/
    background: #FFF0E6;
    /*background: #F96900;*/
    border-radius: 1000px;
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #D15700;
    padding: 9px 28px;
}

.do-d-product-card__btn:hover {
    background: #F96900;
    color: #FFFFFF;
}