a {
    text-decoration: none;
    color: #000000;
}
ul {
    list-style: none;
}


.do-t-header {

}

.do-t-header__item {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    margin: 0 12px 0 12px;
}

.do-t-header__item:hover {
    color: #F96900;
}