@import "ui-kit-style.css";
@import "do-d-product-card.css";
@import "do-d-shipping-and-payment.css";
@import "do-d-footer.css";
@import "do-t-header.css";

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito-SemiBold.woff2') format('woff2'),
    url('/fonts/Nunito-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito-Regular.woff2') format('woff2'),
    url('/fonts/Nunito-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito-Bold.woff2') format('woff2'),
    url('/fonts/Nunito-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    border: 0;
}

p {
    margin: 0;
}

.do-m-body {
 min-width: 320px;
}

.do-m-body__content {
    /*width: 90%;*/
}

.do-m-header {
    min-width: 288px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.do-m-header__name-company {
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-top: 4px;
}

.do-m-header__logo {
    width: 23px;
    height: 23px;
}

.do-m-header__name {
    width: 125px;
    height: 14px;
    padding-left: 8px;
    padding-top: 3px;
}

/*=====Бургер-меню======*/

/*! скрываем чекбокс !*/
#menu__toggle {
    position: absolute;
    top: -100px;
    overflow: hidden;
}

/*!* стилизуем кнопку *!*/
.do-m-header__menu-btn {
    display: flex; /*!* используем flex для центрирования содержимого *!*/
    align-items: center;  /*!* центрируем содержимое кнопки *!*/
    position: fixed;
    top: 23px;
    left: 292px;
    width: 20px;
    height: 10px;
    cursor: pointer;
    z-index: 10;
}

/*!* добавляем "гамбургер" *!*/
.do-m-header__menu-btn > span,
.do-m-header__menu-btn > span::before {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #000000;
    border-radius: 2px;
}
.do-m-header__menu-btn > span::before {
    content: '';
    top: -7px;
}

/*!* контейнер меню *!*/
.do-m-header__menu-box {
    position: fixed;
    z-index: 9;
    display: flex;
    justify-content: center;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #000000;
    margin: 0;
    color: #FFFFFF;
}

/*!* li элементы списка меню *!*/
.do-m-header__menu-item {
    display: block;
    text-decoration: none;
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 26px;
}

.do-m-header__menu-item--approx {
    margin-bottom: 0;
}

/*  список меню  */

.do-m-header__menu {
    list-style: none;
    padding: 30px 0 30px 29px;
    margin: 0;
}

/*Открыть / закрыть меню*/

#menu__toggle:checked ~ .do-m-header__menu-btn > span {
    transform: rotate(45deg);
    background-color: #FFFFFF;
}
#menu__toggle:checked ~ .do-m-header__menu-btn > span::before {
    transform: rotate(90deg);
    top: 0;
    left: 0;
    background-color: #FFFFFF;
}

#menu__toggle:checked ~ .do-m-header__menu-box {
    visibility: visible;
    left: 0;
}

/*=====конец гамбургера======*/

.do-m-header__menu-box-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.do-m-header__name-company--padding {
    padding-top: 13px;
}

.do-m-header__line {
    display: block;
    width: 120%; /*не сработало*/
    border-bottom: 1px solid #FFFFFF;
    opacity: 0.2;
    margin-top: 11px;
}

.do-m-header__geo-dot {
    width: 10px;
    height: 16px;
    padding: 0;
    margin-top: 21px;
    margin-left: 3px;
}

.do-m-header__city {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    padding: 0;
    margin: 17px 0 0 15px;
}

.do-m-header__change {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    opacity: 0.5;
    padding: 0;
    margin: 0 0 0 28px;
}

.do-m-header__wrap {
    display: flex;
}

.do-m-header__time-rating {
    display: flex;
    padding-left: 29px;
    padding-top: 22px;
}

.do-m-header__time {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    margin: 0;
}

.do-m-header__rating {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.do-m-header__rating-number {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFD112;
    padding-left: 14px;
    margin: 0;
}

.do-m-header__rating-stars {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 6px;
}

.do-m-header__rating-star {
    width: 16px;
    height: 16px;
}

.do-m-header__info-img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 169px;
}

.do-m-header__line--pad {
    padding-top: 7px;
}

.do-m-header__line--app {
    margin-top: -1px;
}

.do-m-header__call {

}

.do-m-header__call-wrap {
    display: flex;
}

.do-m-header__iphone-img {
    width: 13px;
    height: 24px;
    padding-top: 31px;
}

.do-m-header__contact-text {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    margin: 0;
    padding-top: 31px;
    padding-left: 16px;
}

.do-m-header__contact-text-minor {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.3;
    margin: 0;
    padding-left: 28px;
}

.do-m-header__application {
    /*display: flex;*/
}

.do-m-header__application-wrap {
    display: flex;
    padding-top: 21px;
}

.do-m-header__apple-img {
    display: block;
    width: 24px;
    height: 24px;
}

.do-m-header__contact-text-2 {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    margin: 0;
   /* padding-top: 31px;*/
    padding-left: 5px;
}

.do-m-header__contact-text-minor-2 {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.3;
    margin: 0;
    padding-left: 29px;
}
/*===конец меню из бургера===*/
/*====main=====*/

.do-m-slider-baners {
    display: flex;
    padding-top: 10px;
}

.do-m-slider-baners__banner-1 {
    /*width: 250px;
    height: 93px;*/
    filter: drop-shadow(0px 4px 15px rgba(6, 5, 50, 0.05));
    border-radius: 8px;
}

.do-m-slider-baners__banner-2 {
    /*width: auto;
    height: 93px;*/
    margin-left: -9px;
}

.do-m-slider-baners__banner-last {

}

.do-m-products__heading {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    margin-top: 1px;
    padding-left: 16px;
}

.slider__slides {
    overflow: hidden;
}

.do-slider__slide {
    width: 240px;
    height: 108px;
    margin: -11px 0 0 28px;
    padding: 0;
}

.do-product-card-list__img {
    width: 86px;
    height: 86px;
}

.do-product-card-list__discription {
    padding-left: 14px;
}

.do-m-slider-btn-menu {
    display: flex;
    flex-wrap: nowrap;
    position: sticky;
    top: 13px;
    overflow: hidden;
    margin: 31px 0 0 12px;
}

.do-btn-login {
    margin: 0 4px 0 4px;
    padding: 6px 15px 6px 15px;
}

.do-btn-login:hover {
    background: #FFF0E6;
}

.do-m-products-cards {

}

.do-m-products-cards__pizza {
    /*margin-top: 36px;*/
}

.do-m-product-card {
    display: flex;
    margin: 36px 16px;
}

.do-m-product-card__img {
    width: 115px;
    height: 115px;
}

.do-m-product-card__description {
    display: flex;
    flex-direction: column;
    margin-left: 6px;
}

.do-m-product-card__title {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
}

.do-m-product-card__text {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #73798C;
    margin-top: 4px;
}

.do-m-product-card__btn {
    width: 96px;
    height: 32px;
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    padding: 7px 20px 6px 20px;
    background: #F96900;
    border-radius: 1000px;
    margin-top: 8px;
}

.do-m-footer {
    background: #464C55;
    padding-left: 16px;
    padding-bottom: 35px;
    padding-top: 20px;
}
.do-m-footer__mail-wrap {
    display: flex;
    justify-content: flex-start;
}

.do-m-footer__mail {
    display: block;
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    opacity: 0.9;
    margin-bottom: 10px;
}

.do-m-footer__menu {
    margin-bottom: 20px;
}

.do-m-footer__menu-title {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.do-m-footer__menu-item {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.7;
    text-decoration: none;
}

.do-m-footer__socials {
    margin-top: 20px;
}

.do-m-footer__applications {
    display: flex;
}

.do-m-footer__google-play {
    margin-left: -10px;
}

.do-m-footer__app-store {
    margin-left: -10px;
}

.do-m-footer__info {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 0.7;
    margin-top: 20px;
}

.do-m-footer__naming {
    display: flex;
    margin-top: 30px;
}

.do-m-footer__copyright {
    margin-left: 28px;
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 0.7;
}

.do-header {
    display: none;
}

#do-m-products__heading {
    display: none;
}

.do-d-product-card {
    display: none;
}

.do-d-shipping-and-payment {
    display: none;
}

.do-m-slider-baners__banner-0 {
    display: none;
}

.do-d-footer {
    display: none;
}

.do-t-header__menu {
    display: none;
}

@media (min-width: 1280px) {
    .do-header {
        display: block;
        margin: 25px 110px 0 110px;
    }
    .do-m-header {
        display: none;
    }
    .do-m-slider-btn-menu {
        display: none;
    }
    #do-m-products__heading {
        display: block;
        margin-left: 110px;
    }
    .do-m-product-card {
        display: none;
    }
    .do-d-product-card {
        display: block;
    }
    .do-d-shipping-and-payment {
        display: block;
        margin: 0 110px 70px 110px;
    }
    .do-m-products-cards {
        display: flex;
        flex-wrap: wrap;
        padding: 0 110px;
    }
    .do-m-products-cards__block {
        display: flex;
        flex-wrap: wrap;
    }
    .do-m-slider-products {
        margin-left: 110px;
    }
    .do-m-products__heading {
        padding-left: 0;
    }

    .do-m-slider-baners__banner-2 {
        margin-left: 6px;
        margin-top: 8px;
    }
    .do-m-slider-baners__banner-0 {
        display: block;
        margin-top: 8px;
    }
    .do-m-slider-baners {
        justify-content: space-between;
    }
    .do-m-footer {
        display: none;
    }
    .do-d-footer {
        display: block;
    }
    .do-m-footer__menu {
        display: flex;
        margin: 0;
    }
    .do-m-footer__naming {
        margin-top: 0;
    }
    .do-d-footer__bottom-info {
        display: flex;
        align-items: center;
    }
    .do-m-footer__informs {
        margin: 0 95px 0 64px;
    }
    .do-m-footer__info {
        /*height: 25px;*/ /*=не работает=<<<<*/
        /*margin: 0 10px 0 10px;*/
        margin: 0;
    }
    .do-m-footer__info:first-child {
        /*margin: 0 10px 0 0;*/
    }
    .do-m-footer__info:last-child {
        /*margin: 0 0 0 10px;*/
    }
    .do-t-header__menu {
        display: none;
    }
}

@media (min-width: 767px) {
    .do-t-header__menu {
        display: flex;
    }
    .do-btn-login {
        margin: 0 24px 0 24px;
    }
    .do-btn-login:first-child {
        margin: 0 24px 0 10px;
    }
    .do-btn-login:last-child {
        margin: 0 0 0 24px;
    }
    .do-m-product-card {
        width: 55%;
    }
    .test {
        display: flex;
    }
    .test__button {
        width: 20px;
        height: 20px;
        background-color: red;
        margin-left: auto;
        margin-right: 20px;
    }
}

.do-m-header__hamburger-menu {
    width: 100%;
}


