
@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito-SemiBold.woff2') format('woff2'),
    url('/fonts/Nunito-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito-Regular.woff2') format('woff2'),
    url('/fonts/Nunito-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito-Bold.woff2') format('woff2'),
    url('/fonts/Nunito-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    border: 0;
}

p {
    margin: 0;
}

.do-ui-elements {

}

.do-ui-margin {
    margin: 15px;
}

.do-ui-elements--flex {
    display: flex;
}

.do-ui-elements-static {

}

.do-ui-heading {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    opacity: 0.43;
}

.do-slider__slide {
    display: flex;
    align-items: center;
    width: 250px;
    height: 104px;
    background: #FFFFFF;
    box-shadow: 0 6px 25px rgba(6, 5, 50, 0.05);
    border-radius: 10px;
    padding: 14px 0 14px 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.do-product-card-list__image {
    display: flex;
    align-items: center;
}

.do-product-card-list__img {
    /*width: 76px;*/
    /*height: 76px;*/
}

.do-product-card-list__discription {
    padding-left: 22px;
    margin: auto 0;
}

.do-product-card-list__title {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin: 0 0 4px 0;
}

.do-product-card-list__price {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

.do-product-card-list--shadow {
    box-shadow: 0 0 15px rgba(6, 5, 50, 0.05);
}

.do-button__btn {
    width: 104px;
    height: 40px;
    background: #F96900;
    border-radius: 1000px;
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.do-button__btn--background {
    background: #ED5D08;
}

.do-btn-login {
    background: #F3F3F7;
    border-radius: 1000px;
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #5C6370;
}

.do-btn-login--color {
    color: #000000;
}

.do-btn-in-basket {
    width: 120px;
    height: 40px;
    background: #FFF0E6;
    border-radius: 1000px;
}

.do-btn-in-basket--background {
    background: #FFD0B2;
}

.do-slider {
    display: flex;
}

.do-slider__slides {
    display: flex;
}

.do-slider__slide-last {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.4;
}

.do-slider {
    position: relative;
}

.do-left-arrow {
    position: absolute;
    top: 45px;
    left: 1200px;
    z-index: 1;
}

.do-left-arrow::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url("/images/arrow.png");
    width: 7px;
    height: 14px;
    top: 10px;
    left: 14px;
    z-index: 1;
}

.do-left-arrow__img {
    width: 34px;
    height: 34px;
}

.do-header {
    display: flex;
    justify-content: center;
}

.do-header__content {
    display: flex;
    justify-content: space-between;
    width: 1060px;
}

.do-header__wrapper {

}

.do-header__wrap {
    display: flex;
    justify-content: flex-start;
}

.do-header__logo-name {
    display: flex;
}

.do-header__logo {
    display: block;
    width: 42px;
    height: 44px;
}

.do-header__name-company {
    margin-left: 15px;
}

.do-header__naming {
    display: block;
    width: 192px;
    height: 22px;
    padding-top: 3px;
}

.do-header__slogan {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #343434;
    padding-top: 7px;
}

.do-header__elements {
    display: flex;
    margin-left: 91px;
}

.do-header__delivery {
    display: flex;
}

.do-header__parameters {
    display: flex;
}

.do-header__nav-items {
    display: flex;
}

.do-header__text-service {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.do-header__city {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #F96900;
    padding-left: 5px;
}

.do-header__time {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

.do-header__dot-img {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto 0;
}

.do-header__rating {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

.do-header__star {
    width: 16px;
    height: 16px;
    padding-left: 8px;
}

.do-header__phone {
    padding-left: 58px;
}

.do-header__phone-number {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.do-header__text {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #999999;
}

.do-header__nav {
    width: 805px;
}

.do-header__nav-items {
    display: flex;
    justify-content: space-between;
    padding-top: 41px;
}

.do-header__nav-item {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

.do-header__nav-ellipse-red {
    width: 8px;
    height: 8px;
    padding-right: 7px;
}

.do-header__buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.do-btn-login--padding {
    margin-bottom: 44px;
}

.do-header__popup {
    width:100%;
    min-height:100%;
    overflow:hidden;
    position:fixed;
    top: 743px;
    left: 689px;
    display: none;
}

.do-header__popup .do-header__popup-content{
    width: 400px;
    height: 420px;
    background: #FFFFFF;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.05);
    border-radius: 11px;
    box-sizing: border-box;
}

.do-header__popup-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 37px;
}

.do-header__popup-img {
    width: 298px;
    height: 203px;
}

.do-header__popup-title {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin: 21px 0 11px 0;
}

.do-header__popup-text {
    width: 300px;
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    padding-left: 10px;
}

/*===слайдер продуктов из ui-kit===*/

.do-m-products__heading {

}

.do-slider__slide {
    display: flex;
    align-items: center;
    width: 250px;
    height: 104px;
    background: #FFFFFF;
    box-shadow: 0 6px 25px rgba(6, 5, 50, 0.05);
    border-radius: 10px;
    padding: 14px 0 14px 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.do-product-card-list__image {
    display: flex;
    align-items: center;
}

.do-product-card-list__img {
    width: 76px;
    height: 76px;
}

.do-product-card-list__discription {
    padding-left: 22px;
    margin: auto 0;
}

.do-product-card-list__title {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin: 0 0 4px 0;
}

.do-product-card-list__price {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}